/.env

/certificates/
!/certificates/.gitkeep

/code/
!/code/.gitkeep
!/code/public/.gitkeep

/storage/
!/storage/mysql/.gitkeep

/log/
!/log/docker/.gitkeep
!/log/mysql/.gitkeep
!/log/nginx/.gitkeep
!/log/php/.gitkeep

/.idea/
